<fieldset>
    <legend>{{city + '(' + zipcode + ')'}}</legend>
    <table>
        <ng-container *ngFor=" let detail of forecast;let i = index">
            <tr *ngIf="(i % 8) === 0">
                <td>{{getDay(detail.dt_txt)}} : {{detail.weather[0].main}} - High: {{detail?.main?.temp_max}} -
                    Low:{{detail?.main?.temp_min}}
                </td>
                <td class="image"><img [src]=" weatherImage(detail.weather[0].main)" [alt]="detail.weather[0].main" />
                </td>
            </tr>
        </ng-container>
    </table>
</fieldset>
<div class="back">
    <button class="back" (click)="back()">Go Back</button>
</div>