.image {
    text-align: left;

    img {
        width: 40px;
    }
}
.back {
    text-align: center;
    button{
        background-color: transparent;
    }
}
table {
    border-spacing: 15px;
    width: 100%;
}

fieldset {
    margin: 5% 15%;
}