<fieldset>
    <legend>Add a location</legend>
    <label>Enter a zipcode:</label><br><br>
    <input type="text" [(ngModel)]="location" class="locationInput" />
    <button class="locationButton" (click)="addLocation()">Add location</button>
    <p *ngIf="errMsg != ''">{{errMsg}}</p>
</fieldset>
<ng-container *ngIf="allLocations.length > 0">
    <fieldset *ngFor=" let data of allLocations;let i = index">
        <legend>{{data?.details?.name}}</legend>
        <div class="close"><img src="assets/close.png" alt="close" (click)="close(i)" /></div>
        <table>
            <tr>
                <td>CurrentCondition : {{data?.details?.currentCondition}}</td>
                <td rowspan="4" class="image"><img [src]="data?.details.image" [alt]="data?.details.currentCondition" />
                </td>
            </tr>
            <tr>
                <td>Temperature : {{data?.details?.temperature}}</td>
            </tr>
            <tr>
                <td>Max today: {{data?.details?.maxTemp}} - Min today:{{data?.details.minTemp}}</td>
            </tr>
            <tr>
                <button class="locationButton" (click)="forecast(i)">Open Forecast</button>
            </tr>
        </table>
    </fieldset>
</ng-container>