fieldset {
    margin: 2.5% 15% 0%;
    label {
        font-size: 2rem;
    }

    .locationInput {
        margin: 3%;
    }
}

p {
    color: red;
    text-align: center;
}

.locationButton {
    background-color: transparent;
}

table {
    border-spacing: 15px;
    width: 100%;
}

.close {
    position: relative;

    img {
        width: 25px;
        position: absolute;
        right: 0;
    }

}

.image {
    text-align: right;

    img {
        width: 100px;
    }
}